<style>
 body {
          color: white;
          text-align: center;
          margin-top: auto;
          background-image:url('/images/image6.jpg');
          background-repeat: no-repeat;
          background-size: cover;
      }
    h5 {
        color: gold;
    }

</style>
<br>

<h5>Show Name</h5>
<h3> <%= @show.name %> </h3>
<h5>Catetory</h5>
<h3><%= @show.category %></h3>
<h5>Seasons</h5>
<h3><%= @show.seasons %></h3>
<h5>Description</h5>
<h3><%= @show.description %></h3>
<h5>Rating</h5>
<h3><%= @show.rating %></h3>

<%# Edit show  %>
<% if Helpers.current_user(session).id == @show.user_id %>
<a href="/shows/<%= @show.id %>/edit" class="btn btn-primary">Edit Show</a>
<% end %>

<%# Add a delete form %>
<% if Helpers.current_user(session).id == @show.user_id %>
<form action="/shows/<%= @show.id %>/delete" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete" class="btn btn-danger">
<% end %>
</form>